
      <!-- <main id="main-section"> -->
        <!-- Suggestions container-->
        <!-- <div id="Suggestions-container" class="d-flex"> --> -->
          <!-- <p id="empty-search-text" class="text-muted fs-1 pt-5 ms-4">
            Your search results will appear hear!
          </p>
          

          
            <a href="movie.html" data-id = "spider-man" class="text-decoration">
            <div class="card my-2" data-id = "spider-man">
              <img
                src="../Movierating/static/home/img/admin_home.jpg"
                class="card-img-top"
                alt="..."
                data-id = "spider-man"
              />
              <div class="card-body text-start">
                <h5 class="card-title" >
                  <a href="movie.html" data-id = "spider-man"> spider-man </a>
                </h5>

                <p class="card-text">
                  <i class="fa-solid fa-star">
                    <span id="rating">&nbsp;7.8</span>
                  </i>

                  <button class="fav-btn">
                    <i class="fa-solid fa-heart"></i>
                  </button>
                </p>
              </div>
            </div>
          </a>
        
        -->

        
               
          
            <!-- /.card-body -->
          <!-- </div>
          </div> -->
           



          
      <!-- FAVORITES SECTION -->
      <!-- <section id="favorites-section" class="animate__animated">
        <h2>Favorites</h2>

        <div id="empty-fav-text">
          <p class="fs-5 mx-3 text-muted">
            Click on <i class="fa-heart fa-solid text-muted"></i> icon of movies
            to add.
          </p>
        </div>

        <div id="fav-movies-container" class=".flex-column mx-auto"> -->
          <!-- <div
            class="fav-movie-card d-flex justify-content-between align-content-center my-2"
          
            <img
              src=""
              alt=""
              class="fav-movie-poster"
            />
            <div class="movie-card-details">
              <p class="movie-name mt-3 mb-0">
                spider-man: No way home 
              </p>
              <small class="text-muted">2018</small>
            </div>

            

            <div class="delete-btn">
              <i class="fa-solid fa-trash-can" data-id="spider-man"></i>
            </div>

          </div>
        </div>
      </section>
    </div>  --> -->